
<tr>
<td>Title</td>
<td>Description</td>

</tr>

 <% @steps.each do |instruction_step| %>
        <tr>
          <td><%= instruction_step.title %></td>
          <td><%= instruction_step.description %></td>          
          <td><% unless instruction_step.image_url.nil? %><%= image_tag instruction_step.image_url %><br /><% end %>     
        </tr>
 <% end %>
<tr><td>
<%= will_paginate @steps %>
</td></tr>