<h1>Instructions</h1>

<p id="notice"><%= notice %></p>
<% javascript_include_tag 'pagination.js', 'data-turbolinks-track' => false %>
<table>
  <thead>
    <tr>
      <th>Instruction</th>
      <th>Date of creation</th>
      <th>Author</th>
    </tr>
  </thead>

  <tbody id="steps">
    <%= render 'steps' %>
  </tbody>

</table>





