<p id="notice"><%= notice %></p>
<% javascript_include_tag 'pagination.js', 'data-turbolinks-track' => false %>
<p>
  <strong>Instruction:</strong>
  <%= @user_instruction.instruction %>
</p>

<p>
  <strong>Date of creation:</strong>
  <%= @user_instruction.date_of_creation %>
</p>

<table id="instruction">
	<%= render 'instruction' %>
</table>


